<h1> Recipes for <%="#{params[:message]}"%> </h1>
<section>
<ul>
<%@recipes.each do |recipe|%>
  <a href ="<%= recipe_show_path(recipe.uri)%>" class "recipe-card-link">
    <li><%=recipe.label%></li>
    <li> <img src="<%=recipe.image_url%>" alt="picture of food recipe"></a>
<%end%>
</ul>
</section>
<section class= "recipe-pagination">
<%=will_paginate @recipes%>
</section>
