<header>
  <h1 class = "header-text">MUNCHER</h1>
  <img src="http://img.werecipes.com/wp/wp-content/uploads/2015/04/aloo-poha-recipe-ingredients.jpg" alt="bowls of ingredients", class="show-header-img">

  <section class = "recipe-search-form">
    <p>
    <%= form_tag(recipes_path, method: "get", id: "search-form") do %>
      <%= text_field_tag :q, params[:q], placeholder: "Search by Ingredient" %>
      <%= submit_tag "Search" %>
    <% end %>
  </p>
  </section>

</header>

<main>
  <section class = "recipe-details">
    <h1><%= @recipe.name %></h1>
    <p>Servings: <%= @recipe.servings %> </p>
    <p><%= image_tag @recipe.image, alt: @recipe.name%></p>
    <p></strong>Full Recipe: <%= link_to @recipe.source, @recipe.url, target: :_blank %></p>

    <p><strong>Ingredients: </strong></p>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient %></li>
        <% end %>
      </ul>

    <p><strong>Dietary Information:</strong>
      <ul>
        <% @recipe.health_labels.each do |health_label| %>
          <li><%= health_label %></li>
        <% end %>
      </ul>
    </p>

  </section>
</main>
